# IntelliJ IDEA files
*.iml
.idea/

# Gradle cache
.gradle/

# Generated documentation
public/

# Compilation output
bin/
target/
build/
out/

# IntelliJ process attachment files
.attach_pid*
*.tmp

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# JVM heap dump
*.hprof
